<!DOCTYPE html>

<html>
<head>
	<link href="{{STATIC_URL}}css/bootstrap3.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/styles.css" rel="stylesheet">
	
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{STATIC_URL}}img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{STATIC_URL}}img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{STATIC_URL}}img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{STATIC_URL}}img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="{{STATIC_URL}}img/escudo.png">
  <link rel="stylesheet" href="print.css" type="text/css" media="print" >
  <link rel="stylesheet" href="{{STATIC_URL}}css/datepicker3.css">


	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap3.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/scripts.js"></script>
	<link rel="stylesheet" href="{{STATIC_URL}}css/demo_table.css" type="text/css" /> 
	<script type="text/javascript" language="javascript" src="{{STATIC_URL}}js/jquery.dataTables.js"></script>
	<script src="{{ STATIC_URL }}js/funciones.js"></script>

	<script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/locales/bootstrap-datepicker.es.js" charset="UTF-8"></script>
    <script src="{{ STATIC_URL }}js/typeahead.js" charset="UTF-8"></script>

</head>


<body>
{% block body %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Inicio</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<!--li class="active">
							<a href="#">Link</a>
						</li>
						<li>
							<a href="#">Link</a>
						</li-->
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="glyphicon glyphicon-wrench"></i> Referencias<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="{% url 'unidad' %}"> <i class="glyphicon glyphicon-edit"></i> U. Regionales / Áreas </a>
								</li>
								<li>
									<a href="{% url 'dependencia' %}"> <i class="glyphicon glyphicon-edit"></i> Dependencias</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="{% url 'provincia' %}"> <i class="glyphicon glyphicon-edit"></i> Provincias </a>
								</li>
								<li>
									<a href="{% url 'departamento' %}"> <i class="glyphicon glyphicon-edit"></i> Departamentos </a>
								</li>
								<li>
									<a href="{% url 'ciudad' %}"> <i class="glyphicon glyphicon-edit"></i> Ciudades </a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="{% url 'agrupacion' %}"> <i class="glyphicon glyphicon-edit"></i> Agrupacion </a>
								</li>
								<li>
									<a href="{% url 'escalafon' %}"> <i class="glyphicon glyphicon-edit"></i> Escalafon </a>
								</li>
								<li>
									<a href="{% url 'licencia' %}"> <i class="glyphicon glyphicon-edit"></i> Licencias </a>
								</li>
								
							</ul>
						</li>
						<li>
							<a href="{% url 'alta_personal' %}"> Personal </a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="glyphicon glyphicon-user"></i> {{user.first_name}}<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="{% url 'logout' %}"> <i class="glyphicon glyphicon-log-out"></i> Cerrar Sesi&oacute;n</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				
			</nav>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
	<div class="col-md-12 column">
	<div class="jumbotron">
{% block cuerpo %}

		
			<center><img src="{{STATIC_URL}}img/escudo.png" class="img-circle" /></center>
		
{% endblock %}
</div></div>
	</div>
</div>
{% endblock %}
</body>
</html>